<%- include('./partials/header_admin.ejs') %>
<div class="container">
<img src="https://source.unsplash.com/random/520.25*600">
<img src="https://source.unsplash.com/random/520.5*600">
<img src="https://source.unsplash.com/random/520*600.5">
<img src="https://source.unsplash.com/random/520*600.25">
</div>