<%- include('./partials/header.ejs') %>
    <section class="section banner banner-section">
       <div class="container banner-column">
          <div class="container indexImg">
           <p><img class="banner-image" src="https://i.pinimg.com/originals/92/13/71/921371dc725f178b7ef78c85e5ec2f72.jpg" alt="banner"></p>
           <p><img class="banner-image" src="https://i.pinimg.com/originals/69/40/49/694049755d6a5b47f6fe4824c3555343.jpg" alt="banner"></p>
           <p><img class="banner-image" src="https://64.media.tumblr.com/220f87096d99de30174919e8b1aaffd8/tumblr_mnr67x6aQ41rvl1x9o1_500.jpg" alt="banner"></p>
           <p><img class="banner-image" src="https://i.pinimg.com/originals/66/bc/74/66bc74b8af87c37a307e0aec8e9f73ef.jpg" alt="banner"></p>
         </div>
          <div class="banner-inner">
             <h1 class="heading-xl">Lorem Picsum, experience Media Like Never Before</h1>
             <p class="paragraph">
                The auto image generating web application employs the Fetch API to seamlessly retrieve and integrate dynamic content, creating a versatile and user-friendly platform. Through this innovative technology, users can easily access and generate personalized images based on their preferences or inputs. The Fetch API facilitates efficient communication between the web application and external data sources, allowing for real-time updates and diverse image outputs. Whether it's fetching data from a server, database, or API, the web app harnesses the power of asynchronous requests to enhance the user experience. This approach ensures a smooth and responsive image generation process, enabling the application to adapt to various content requirements. Overall, the synergy between the Fetch API and the auto image generating web application contributes to a dynamic and interactive platform, empowering users to effortlessly create and customize images according to their creative vision.
             </p>
          </div>
       </div>
    </section>